/* .icon_container{
    display: flex;
    flex-direction: column;
    z-index: 10;
    float: right; 
    align-items: flex-end;
} */

.edit {
    color: black;
    cursor: pointer;
}
.edit:hover{
    background-color: rgb(115, 136, 142);
    color: white;
}

.delete {
    color: red;
    cursor: pointer;
}
.delete:hover{
    background-color: brown;
    color: black;
}