* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    padding: 10px;
    margin: 5px;
    height: auto;
    gap: 8px;
    overflow: hidden;
}

.column {
    width: 35%;
    padding: 10px;
    border: 2px solid #ccc;
    max-height: 87.5vh;
    min-height: 87.5vh;
    overflow: auto;
    text-align: center;
    scrollbar-width: none;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 100%;
}

.taskButton {
    position: sticky;
    top: 0;
    width: 96%;
    background-color: aquamarine;
    margin: 5px;
    text-align: center;
    z-index: 25px;
}

.addButton {
    background-color: inherit;
    border: none;
    padding: 10px;
    cursor: pointer;
}